<div class="well bs-component" style="width:60%; margin: auto;">
  <%= custom_form(["admin", @item], :html => {class: "form-horizontal", multipart: true}, url: admin_item_path) do |f| %>
    <%= f.legend "Edit item" %>

    <%= render 'fields', f: f %>
  <% end %>
</div>
