<div class="page-header">
  <h1>Store Items</h1>
</div>
<div class="row">
  <div class="col-lg-8">
    <%= render @items if @items.any? %>
  </div>
  <div class="col-lg-4">
    <%= render 'shared/store_nav' %>
    <%= render 'shared/cart_panel' %>
  </div>
</div>
