<div class="page=header">
  <h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
  <%= render :partial => 'store_items/store_item', collection: @items if @items.any? %>
</tbody>
</table>
<center><%= will_paginate @items, renderer: BootstrapPagination::Rails%></center>
</div>
