<div class="well bs-component" style="width:60%; margin: auto;">
  <%= custom_form(@user, :html => {class: "form-horizontal"}) do |f| %>
    <%= f.legend "Edit Profile" %>

    <%= render 'fields', f: f %>
  <% end %>
</div>
