<tr>
  <% if current_page?(admin_path) %>
  <td>
    <%= link_to donation.user.full_name, donation.user %>
  </td>
  <% end %>
  <td>
    <%= "$#{donation.amount }" %>
  </td>
  <td>
    <%= donation.paid_at.strftime("%B %d, %Y") if donation.paid_at %>
  </td>
  <td>
    <%= link_to "View Invoice", donation_path(donation) %>
  </td>
</tr>
