  <div class="page-header">
    <h2>Posts Backup</h2>
  </div>
<div class="jumbotron">
  <div class="text-right">
    <%= button_to "",action: "create", class: "btn btn-primary" do%>
      <i class="glyphicon glyphicon-file"></i> Create Backup
    <% end %>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <th>Backup #</th>
      <th>File</th>
      <th>Created</th>
      <th></th>
    </thead>
    <tbody>
    <%= render @files, as: :backup if @files.any? %>
  </tbody>
  </table>
    <center><%= will_paginate @files, renderer: BootstrapPagination::Rails %></center>
</div>
