body{
    font-family: Verdana, Geneva, sans-serif;
}

.danger{
  color: red;
}

.success{
  color: green;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
